:root {
    --accent-color: #0000EE;
    --accent-color-2: #d9ffd0;
    --background-color: rgb(140, 250, 128);
    --foreground-color: black;
}

@import url('https://fonts.googleapis.com/css2?family=League+Gothic&family=Xanh+Mono:ital@0;1&display=swap');

html {

    background-color: var(--background-color);
    animation: colorchange 10s infinite alternate;
    /* 10s duration, infinite loop, alternates direction */

    overflow: hidden;
    position: relative;
    top: 50%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

@keyframes colorchange {
    0% {
        background-color: #ff0000;
        /* Red at the start */
    }

    25% {
        background-color: #ffff00;
        /* Yellow at 25% of the animation */
    }

    50% {
        background-color: #00ff00;
        /* Green at 50% */
    }

    75% {
        background-color: #0000ff;
        /* Blue at 75% */
    }

    100% {
        background-color: #ff0000;
        /* Back to Red at 100% */
    }
}


body {
    margin: 0%;
    font-family: "urbane-condensed", "arial", sans-serif;
    font-family: "Xanh Mono", monospace;
}



.title {
    width: 100%;
    height: 100%;
    display: inline-block;
    position: relative;
    box-sizing: border-box;
    margin: 0 auto;
    padding: 0%;
    font-size: 4.8em;
    line-height: 3px;
    overflow-wrap: break-word;
    text-shadow: -1px -1px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    -webkit-text-stroke: 0.5px black;

    font-weight: 700;
    text-align: center;
    color: white;
    text-decoration: underline 3px var(--accent-color);

}


#play {
    font-size: 5em;
    line-height: 0%;
    text-shadow: -1px -1px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    -webkit-text-stroke: 0.5px black;
    font-family: "xanh mono", monospace;
    font-weight: 700;
    text-align: center;
    color: white;
    text-decoration: underline 3px var(--accent-color);
}

#roll-button {
    font-size: 5em;
    text-shadow: -1px -1px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    -webkit-text-stroke: 0.5px black;
    color: white;
    font-family: "xanh mono", monospace;
    font-weight: 700;
    text-decoration: none;
}

#roll-button:hover {
    font-size: 6em;
    transition: 0.5s ease-out;
    text-shadow: -1px -1px 0 #fff, 2px -2px 0 #fff, -2px 2px 0 #fff, 2px 2px 0 #fff;
    -webkit-text-stroke: 0.5px black;
    color: white;
    font-family: "xanh mono", monospace;
    font-weight: 700;
    text-decoration: none;

}

button {
    width: 200px;
    height: 100px;
    position: relative;
    background-color: #cccccc;
    box-sizing: border-box;
    border-style: ridge;
    border-color: #f0f0f0 #4d3a3a #6d6d6d #f0f0f0;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    margin-top: 20px;
}

button:hover {
    background-color: #ffda37;
    transition: 0.3s;


}

button:active {
    background-color: #33ddff;
}


@keyframes float {
    from {
        transform: translate(0, 10px);
    }

    50% {
        transform: translate(0, 15px);
    }

    to {
        transform: translate(0, 10px);
    }
}

#floating {
    animation: float 2s ease-in-out infinite alternate;

}


.s-bevel-box {
    width: 25px;
    height: 25px;
    position: relative;
    background-color: #cccccc;
    box-sizing: border-box;
    border-style: ridge;
    border-color: #f0f0f0 #4d3a3a #6d6d6d #f0f0f0;
    /* Light top/left, dark bottom/right */
    margin: 0 auto;
    padding: 0%;
    font-size: 1em;
    line-height: 0%;
    text-align: center;
    color: var(--accent-color);
    text-decoration: underline;
}

.m-bevel-box {
    display: none;
    width: 300px;
    height: 250px;
    position: absolute;
    background-color: var(--accent-color-2);
    box-sizing: border-box;
    border-style: ridge;
    border-color: #f0f0f0 #4d3a3a #6d6d6d #f0f0f0;
    /* Light top/left, dark bottom/right */
    margin: 0 auto;
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 0.8em;

    overflow-y: scroll;

    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(18, 16, 16, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

.button-bevel-box {
    width: 500px;
    height: 100px;
    position: relative;
    background-color: #dfdfdf;
    box-sizing: border-box;
    border-style: ridge;
    border-color: #f0f0f0 #4d3a3a #928e8e #f0f0f0;
    /* Light top/left, dark bottom/right */
    margin: 0 auto;
    margin-top: 15px;
    padding-left: 10px;

    overflow: hidden;
}

.main-bevel-box {
    width: 500px;
    height: 350px;
    position: relative;
    background-color: var(--accent-color-2);
    box-sizing: border-box;
    border-style: ridge;
    border-color: #f0f0f0 #4d3a3a #6d6d6d #f0f0f0;
    /* Light top/left, dark bottom/right */
    margin: 0 auto;
    padding-left: 10px;
    cursor: move;
    overflow: scroll;

}

.gallery-bevel-box {
    width: 500px;
    height: 450px;
    position: relative;
    background-color: var(--accent-color-2);
    box-sizing: border-box;
    border-style: ridge;
    border-color: #f0f0f0 #4d3a3a #6d6d6d #f0f0f0;
    /* Light top/left, dark bottom/right */
    margin: 0 auto;
    padding: 10px 10px 10px 10px;
    display: block;
    overflow-x: hidden;
    overflow-y: scroll;
}

.gallery-bevel-box img {
    width: 100%;
    position: relative;

    margin: 0 auto;


    overflow-y: scroll;
}

.main-grid {
    display: inline;
}

.float-link {
    position: absolute;
    z-index: 100;
}

#globe {
    position: absolute;
    left: 20%;
    top: 35%;
}

#loser {
    right: 30%;
    top: 34px;
}

#probability {
    right: 40%;
    top: 80%;
}

.scroll-info {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1em;
    text-align: left;
    line-height: normal;
    color: var(--foreground-color);
    height: fit-content;
    overflow: scroll;
}

::-webkit-scrollbar {
    width: 0px;
    background: transparent;
    /* make scrollbar transparent */
}

.fakelink {
    cursor: pointer;

}

.divider {
    display: flex;
    column-gap: 0px;
    width: 40%;
    margin: auto;
}

@keyframes colorchange {
    0% {
        background-color: #ff0000;
    }

    /* Red at the start */
    25% {
        background-color: #00ff00;
    }

    /* Green at 25% of the animation */
    50% {
        background-color: #0000ff;
    }

    /* Blue at 50% */
    75% {
        background-color: #ffff00;
    }

    /* Yellow at 75% */
    100% {
        background-color: #ff0000;
    }

    /* Back to red at the end */
}

/*marquee*/

.bar {
    position: fixed;
    background-color: var(--bar);
    color: var(--foreground-color);
    width: 150%;
    height: 45px;
    margin-left: -20px;
    margin-top: -12px;
    margin-bottom: 20px;
    overflow: hidden;
    cursor: default;

    transition:
        height 200ms cubic-bezier(0.215, 0.610, 0.355, 1);
}

.bar:hover {
    background-image: linear-gradient(to right, rgb(17, 179, 17), rgb(85, 148, 255), red, orange, rgb(255, 225, 0));
    color: white;
    height: 45px;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.marquee {
    display: flex;
    position: absolute;
    margin-top: -5px;
    top: 40%;
    animation: marquee 30s linear infinite;
    white-space: nowrap;
    animation-play-state: running;
}

.bar:hover .marquee {
    animation-duration: 10s;
}

.bar marquee-content {
    flex-shrink: 0;
    display: inline-block;
}

@keyframes marquee {
    0% {
        transform: translateX(0%);
    }

    100% {
        transform: translateX(-50%);
    }
}

.marquee-item {
    margin-right: 100px;
}

@keyframes flicker {
    0% {
        opacity: 0.27861;
    }

    5% {
        opacity: 0.34769;
    }

    10% {
        opacity: 0.23604;
    }

    15% {
        opacity: 0.90626;
    }

    20% {
        opacity: 0.18128;
    }

    25% {
        opacity: 0.83891;
    }

    30% {
        opacity: 0.65583;
    }

    35% {
        opacity: 0.67807;
    }

    40% {
        opacity: 0.26559;
    }

    45% {
        opacity: 0.84693;
    }

    50% {
        opacity: 0.96019;
    }

    55% {
        opacity: 0.08594;
    }

    60% {
        opacity: 0.20313;
    }

    65% {
        opacity: 0.71988;
    }

    70% {
        opacity: 0.53455;
    }

    75% {
        opacity: 0.37288;
    }

    80% {
        opacity: 0.71428;
    }

    85% {
        opacity: 0.70419;
    }

    90% {
        opacity: 0.7003;
    }

    95% {
        opacity: 0.36108;
    }

    100% {
        opacity: 0.24387;
    }
}

@keyframes textShadow {
    0% {
        text-shadow: 0.4389924193300864px 0 1px rgba(0, 30, 255, 0.5), -0.4389924193300864px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    5% {
        text-shadow: 2.7928974010788217px 0 1px rgba(0, 30, 255, 0.5), -2.7928974010788217px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    10% {
        text-shadow: 0.02956275843481219px 0 1px rgba(0, 30, 255, 0.5), -0.02956275843481219px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    15% {
        text-shadow: 0.40218538552878136px 0 1px rgba(0, 30, 255, 0.5), -0.40218538552878136px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    20% {
        text-shadow: 3.4794037899852017px 0 1px rgba(0, 30, 255, 0.5), -3.4794037899852017px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    25% {
        text-shadow: 1.6125630401149584px 0 1px rgba(0, 30, 255, 0.5), -1.6125630401149584px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    30% {
        text-shadow: 0.7015590085143956px 0 1px rgba(0, 30, 255, 0.5), -0.7015590085143956px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    35% {
        text-shadow: 3.896914047650351px 0 1px rgba(0, 30, 255, 0.5), -3.896914047650351px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    40% {
        text-shadow: 3.870905614848819px 0 1px rgba(0, 30, 255, 0.5), -3.870905614848819px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    45% {
        text-shadow: 2.231056963361899px 0 1px rgba(0, 30, 255, 0.5), -2.231056963361899px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    50% {
        text-shadow: 0.08084290417898504px 0 1px rgba(0, 30, 255, 0.5), -0.08084290417898504px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    55% {
        text-shadow: 2.3758461067427543px 0 1px rgba(0, 30, 255, 0.5), -2.3758461067427543px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    60% {
        text-shadow: 2.202193051050636px 0 1px rgba(0, 30, 255, 0.5), -2.202193051050636px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    65% {
        text-shadow: 2.8638780614874975px 0 1px rgba(0, 30, 255, 0.5), -2.8638780614874975px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    70% {
        text-shadow: 0.48874025155497314px 0 1px rgba(0, 30, 255, 0.5), -0.48874025155497314px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    75% {
        text-shadow: 1.8948491305757957px 0 1px rgba(0, 30, 255, 0.5), -1.8948491305757957px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    80% {
        text-shadow: 0.0833037308038857px 0 1px rgba(0, 30, 255, 0.5), -0.0833037308038857px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    85% {
        text-shadow: 0.09769827255241735px 0 1px rgba(0, 30, 255, 0.5), -0.09769827255241735px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    90% {
        text-shadow: 3.443339761481782px 0 1px rgba(0, 30, 255, 0.5), -3.443339761481782px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    95% {
        text-shadow: 2.1841838852799786px 0 1px rgba(0, 30, 255, 0.5), -2.1841838852799786px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }

    100% {
        text-shadow: 2.6208764473832513px 0 1px rgba(0, 30, 255, 0.5), -2.6208764473832513px 0 1px rgba(255, 0, 80, 0.3), 0 0 3px;
    }
}

#crt::after {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: rgba(26, 255, 0, 0.1);
    opacity: 0;
    z-index: 2;
    pointer-events: none;
    animation: flicker 0.15s infinite;
}

#crt::before {
    content: " ";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: linear-gradient(rgba(60, 255, 0, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
    z-index: 2;
    background-size: 100% 2px, 3px 100%;
    pointer-events: none;
}

#crt {
    animation: textShadow 1.6s infinite;
}